<!DOCTYPE html>

{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>info Template</title>
    <link rel="stylesheet" href="{%static "css\estilo.css" %}">
</head>
<body>
    <h1 class="centrartexto">Templates Info</h1>
    <h2 class="centrartexto">Info: </h2>
    <img class="imagen" src="{%static "images\karina_3.jpg" %}">
    <p1 class="centrartexto">Id: {{id}} </p1>
    <p2 class="centrartexto">Nombre: {{nombre}} </p2>
    <p3 class="centrartexto">Email: {{email}} </p3>
    
    
</body>
</html>